$header-color: #353535;
$body-color: #515151;
$body-color-light: #979797;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$anchor-color: #07394B;
$anchor-font-weight: $font-weight-bold;

// Body
$body-bg: #f8fafc;
$body-bg-alt: #f7fbfb;
$body-bg-alt-2: #f2f2f2;
$white: #fff;

//Main Color
$main-color: #07394B;

// Typography
$font-family-header: 'Raleway', sans-serif;
$font-family-body: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


