// Helper Classes
.mg-btm-2{
    margin-bottom: 2%;
}

.mg-btm-3{
    margin-bottom: 3.7%;
}

.mg-btm-4{
    margin-bottom: 4%;
}

.mg-btm-6{
    margin-bottom: 6%;
}

.mg-top-1{
    margin-top: 1%
}

.mg-top-2{
    margin-top: 2%
}

.mg-top-4{
    margin-top: 4%;
}

.mg-top-6{
    margin-top: 6%;
}